@import "tailwindcss";
*{
    font-family: "Google Sans"
}

.parent{
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/previews/041/053/487/non_2x/abstract-background-elegant-gradient-mesh-smooth-liquid-colorful-blurred-design-template-good-for-modern-website-wallpaper-cover-design-free-vector.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent1{
    display: flex;
    border: 1px solid white;
    height:90vh;
width: 78%;
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.6px);
-webkit-backdrop-filter: blur(15.6px);
border: 1px solid rgba(255, 255, 255, 0.3);


}

.btn button{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    align-self: center;
    font-size: x-small;

}

.left{
    background: rgba(255, 255, 255, 0);
    padding-right: 10px;
    padding-left:10px;
    width: 20%;
    height: 100%;
    border: 1px solid white;
    border-radius: 16px 0 0 16px;
}
